version: '3.9'
services:
    client:
        build: ./client
        volumes: 
            - ./client/client:/code/client
        networks:
            - client
            - server
        depends_on: 
            - server
    server:
        build: ./server
        volumes: 
            - ./server/server:/code/server
        ports: 
            - 10000-11000:10000
        deploy:
            mode: replicated
            replicas: 2
        networks:
            - server
networks:
    client:
        driver: bridge
    server:
        driver: bridge
