version: '3.9'
services:
    client:
        build: ./client
        depends_on:
            - master
        volumes:
            - ./client/:/code/client
        networks:
            - external

    master:
        build: ./master
        volumes:
            - ./master/:/code/master
        networks:
            - internal
            - external
        ports:
            - 6789:6789

    node:
        build: ./node
        depends_on:
            - master
        volumes:
            - ./node/:/code/node
        networks:
            - internal
        # ports:

networks:
    internal:
        driver: bridge
    external:
        driver: bridge
