version: '3.9'
services:
    client:
        build:
            context: .
            dockerfile: ./client/Dockerfile
        depends_on:
            - master
        volumes:
            - .:/code
        networks:
            - external
        environment:
            - docker=true

    master:
        build:
            context: .
            dockerfile: ./master/Dockerfile
        volumes:
            - .:/code
        networks:
            - internal
            - external
        ports:
            - 6789:6789

    node:
        build:
            context: .
            dockerfile: ./node/Dockerfile
        depends_on:
            - master
        volumes:
            - .:/code
        networks:
            - internal
        environment:
            - docker=true
            - serviceName=node-1

networks:
    internal:
        driver: bridge
    external:
        driver: bridge
